.mainDivsInnerMar {
    margin: 18px;
  }
  .second2DivcardInner {
    margin: 12px 20px;
  }
  .second2divcard {
    border-radius: 6px 0 0 6px;
    border: 1px solid #eaeaea;
  }
  .second2input {
    margin-bottom: 14px;
    margin-left: 12px;
    border: none;
    height: 17px;
  }
  .second2divinput {
    border-bottom: 1px solid #eaeaea;
    margin-top: 20px;
  }
  .second2p {
    margin-top: 7px;
    width: 327px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: #848484;
  }
  span {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #848484;
  }
  b{
    font-size: 18px;
  }