<div class="mainDivsInnerMar">
    <div class="d-flex justify-content-between">
      <div>
        <b style="margin-right: 8px"> Quick Transfer </b><span>|</span>
        <span style="margin-left: 8px"> Mobile top-up </span>
      </div>
      <div style="text-decoration: underline #848484">
        <span>see all</span>
      </div>
    </div>

    <div class="d-flex" style="font-size: 14px; margin-top: 24px">
      <div class="second2divcard">
        <div class="d-flex second2DivcardInner">
          <div>
            <img
              src="../../../assets/images/Group 2 (1).png"
              height="22px"
              width="22px"
              style="
                position: absolute;
                margin-top: -6px;
                margin-left: -15px;
              "
            />
            <img
              src="../../../assets/images/card.png"
              height="48px"
              width="72px"
              style="margin-right: 9px"
            />
          </div>
          <div>
            <p class="m-0">3149 Debit card</p>
            <p class="m-0" style="font-weight: 500">2895.15 USD</p>
          </div>
        </div>
      </div>
      <div
        class="second2divcard position-absolute"
        style="margin-left: 233px"
      >
        <div class="d-flex" style="margin: 12px 0 12px 20px">
          <div>
            <img
              src="../../../assets/images/Group 2.png"
              height="22px"
              width="22px"
              style="
                position: absolute;
                margin-top: -6px;
                margin-left: -15px;
              "
            />
            <img
              src="../../../assets/images/card (1).png"
              height="48px"
              width="72px"
              style="margin-right: 9px"
            />
          </div>
          <div>
            <p class="m-0">Deb</p>
            <p class="m-0" style="font-weight: 500">EUR</p>
          </div>
          <div
            style="
              margin-left: 6px;
              margin-top: 10.5px;
              margin-right: 2px;
            "
          >
            <img src="../../../assets/images/Vector right.png" alt="" />
          </div>
        </div>
      </div>
    </div>

    <div class="second2divinput">
      <img src="../../../assets/images/ph_credit-card-thin.png" />
      <input
        type="text"
        placeholder="Card or phone"
        class="second2input"
      />
    </div>
    <div class="second2divinput">
      <img src="../../../assets/images/dollarcircle.png" alt="" />
      <input
        type="text"
        placeholder="Preffered amount"
        class="second2input"
      />
      <span style="margin-left: 115px; color: #a0a0a0">USD</span>
    </div>
    <div style="margin-top: 24px">
      <div class="d-flex justify-content-between">
        <div><img src="../../../assets/images/Percentage.png" /></div>
        <div>
          <button class="btn btn-dark">Get Started &#8594;</button>
        </div>
      </div>
    </div>
    <div
      style="
        margin-top: 18px;
        font-size: 14px;

        font-weight: 500;
        margin-left: 0%;
      "
    >
      Create a new deposit!
    </div>
    <div class="second2p">
      Choose a flexible deposit for your savings suited to your needs in
      InvestBank,
    </div>
  </div>
  