
  .mainDivsInnerMar {
    margin: 18px;
  }
  .cardTitle {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #747475;
    margin-bottom: 8px;
  }
  b{
    font-size: 18px;
  }