<div class="navbardiv">
  <div class="d-flex">
    <div class="formdivnav d-flex">
      <div class="formmaindiv">
      <div class="formdiv2nav">
        <img
          src="../../../../assets/images/searchnormal1.png"
          style="margin-left: 14px"
        /><input type="text" placeholder="Search" class="searchInputNav" />
      </div>
    </div>
      <div>
        <img
          src="../../../../assets/images/Notification.png"
          alt="notificationIcon"
          height="40px"
          width="40px"
          style="margin-left: 616px"
        />
        <a routerLink="../profile">
          <img
            src="../../../../assets/images/Ellipse 2.png"
            alt="profileIcon"
            height="40px"
            style="margin-left: 16px"
          />
          <img
            src="../../../../assets/images/Vector.png"
            alt="#"
            style="margin-left: 10px"
          />
        </a>
      </div>
    </div>
  </div>
</div>
