.navbardiv {
  background-color: #ffffff;
  border-bottom: 1px solid #eaeaea;
  top: 0;
  right: 0;
}
.formdivnav {
  margin: 20px 0 20px 64px;
}
.searchInputNav{
  border: none;
  height:20px;
  width: 228px;
  margin: 4px 14px 3px 12px;
}
.formdiv2nav{
 margin: 10px 0;
}
.formmaindiv {
  border: 1px solid #dcdcdc; 
  border-radius: 8px; 
}
